
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.top-section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.right-header {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    font-size: 18px;
}

.first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

.first-section_left,
.first-section_right {
    width: 450px;
    color: white;
}