
html {
    display: table;
    margin: auto;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.top-section {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

header {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.right-header {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    font-size: 18px;
}

.first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

.first-section_left,
.first-section_right {
    width: 450px;
    color: white;
}

.second-section_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-section_content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.first-content,
.second-content,
.third-content,
.fourth-content {
    display: flex;
    flex-direction: column;
    max-width: 100px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}