
html {
    display: flex;
    max-width: 920px;
    margin: auto;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-size: 100%;
}

.top-section {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

header {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.right-header {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    font-size: 18px;
}

.first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 15px;
    gap: 100px;
    min-height: 350px;
}

.first-section_right,
.first-section_left {
    min-width: 400px;
}

.first-section img {
    width: 450px;
    height: 200px;
    border-radius: 25px;
}

.first-section_left,
.first-section_right {
    width: 450px;
    height: 200px;
    color: white;
}

.second-section {
    max-height: 300px;
}

.second-section_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-section_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.first-content,
.second-content,
.third-content,
.fourth-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.second-section_content img {
    border: #3882f6;
    max-width: 150px;
    max-height: 150px;
    border-radius: 25px;
}

.third-section {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
}

.quote {
    font: italic;
}

.source {
    display: flex;
    justify-content: flex-end;
}

.bottom-section {
    display: flex;
    justify-content: space-evenly;;
    align-items: center;
    background-color: #3882f6;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
}